.style1
        {
            width: 100px;
            
        }
body
{
    background-image: C:\Users\sshab\onedrive\documents\visual studio 2010\Projects\FinalP\FinalP\Gallery\835076.png;
    height:inherit;
    width:inherit
    background-position:center;
    
}
